{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <style>
        #header { 
        background: rgba(90, 2, 2, 0.9);
        }

        #branding h1 a:link, #branding h1 a:visited {
         color: #fff;
        }

        .module h2, .module caption, .inline-group h2 {    
        background: rgba(90, 2, 2, 0.9);  
        }

        a:visited {
        color: #000;
        }

        h1 {
        font-size: 25px;
        color: #000;
        }

    </style>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
   <!-- <h1 id="site-name"><img src="{% static 'logo.png' %}" height="40px" /> </a></h1>-->
   <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
